*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
    padding: 30px;
}

main{
    display: flex;
}

section img{
    width: 100%;
    max-width: 400px;
}

/* Mobile */
@media screen and (max-width: 481px){
    body{
        background-color: rgb(46, 0, 107);
    }

     main{
        flex-direction: column;
    } 

   
}

/* Extra small devices 
@media (min-width: 481px) and (max-width: 767px){
    body{
        background-color: aqua;
    }
}
*/

/*  Small Tablet */
@media (min-width: 768px) and (max-width: 991px){
    body{
        background-color: pink;
    }
}

/* Tablets/Laptops */
@media (min-width: 992px) and (max-width: 1199px){
    body{
        background-color: cornflowerblue;
    }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1999px){
    body{
        background-color: crimson;
    }
}

/* Extra large screens */
@media (min-width: 1920px){
    body{
        background-color: yellow;
    }
}